# Виртуальное окружение (самое важное! иначе загрузятся гигабайты ненужных файлов)
venv/
.venv/
env/

# Переменные окружения и локальные пароли/ключи
.env
*.env

# Python кэш и компилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Настройки среды разработки (VS Code / Cursor / PyCharm)
.vscode/
.idea/

# Данные и логи
*.log
*.sqlite3

# Временные файлы системы
.DS_Store
Thumbs.db

t.py
t.txt